@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(to top, #555, #333);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(83, 83, 83, 0.75);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 0 10rem rgba(181, 213, 176, 0.5);
  border: 7px solid #fff;
  overflow: hidden;
  display: flex;
}

.countries1,
.countries2 {
  display: flex;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
  margin-bottom: 3rem;
  border: 5px solid #fff;
  text-align: center;
}

.country {
  background-color: #245b13;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  overflow: hidden;
}

.country-flag {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
  background-color: #eee;
}

.country-name-box {
  padding: 1.2rem;
}

.country-name {
  font-size: 1.4rem;
  text-align: center;
}

.player {
  flex: 50%;
  padding: 3rem 9rem 9rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 4rem;
}

.player-score {
  font-size: 7.2rem;
  font-weight: 300;
  color: #245b13;
  margin-bottom: 2.2rem;
}

.active {
  background-color: rgba(115, 182, 95, 0.6);
}
.active .name {
  font-weight: 700;
}
.active .score {
  font-weight: 400;
}

.active .current {
  opacity: 1;
}

.current-score {
  background-color: #245b13;

  border: 5px solid #fff;
  color: #fff;
  width: 65%;
  padding: 1.4rem;
  text-align: center;
  transition: all 0.75s;
}

.current-score-name {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.current-score-number {
  font-size: 3rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(51, 51, 51, 0.95);
  backdrop-filter: blur(10px);
  padding: 2rem 1.4rem;
  box-shadow: 0 1.75rem 3.5rem rgba(181, 213, 176, 0.25);
}

.btn-new-game {
  top: 3.5rem;
}
.btn-roll-dice {
  top: 36rem;
}
.btn-save-score {
  top: 45rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 1.75rem 3.5rem rgba(181, 213, 176, 0.25);
}

.winner {
  background-color: #ffee52;
}

.winner .name,
.winner .player-score {
  font-weight: 700;
  color: #60605f;
}

.winner .current-score {
  background-color: #60605f;
}

.winner .current-score-number,
.winner .current-score-name {
  color: #ffee52;
}

.hidden {
  display: none;
}
